.cuadro{
    background-color: rgba(0, 0, 0, 0.671);
    border: 3px outset $colorprin;
    padding: 10%;
    height: 250px;
    width: auto;
    box-shadow: 5px 5px 4px black ;
}
.form h6 {
    text-align: left;
}