.og{
    padding-bottom: 5px;
    width: 55%;
    margin-left: 25%;
    box-shadow: 5px 30px 30px black;
    filter: grayscale(25);
}
.og:hover{
    filter: none;
    transition: 2s;
}
iframe{
    margin-left: 18%;
    box-shadow: 3px 6px 6px black;
}
@media only screen and (max-width:1000px){
    iframe{
        width: 60%;
    }
}
/*@media only screen and (max-width:1050px){
    .og{
        margin: 0px;
    }
}
@media only screen and (max-width:660px){
    .og{
        height: 150px;
    }
}
@media only screen and (max-width:280px){
    .og{
        height: 100px;
    }
}*/